

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*MATERIAL DESIGN*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined');

/*VARIABLES*/
:root {
  --main-font: 'Montserrat', Helvetica, sans-serif;
  --color-yellow: #FFDC00;
  --color-yellow-shadow: #7a7136;
  --color-black: #000;
  --color-white: white;
  --color-gray: #ccc;
  --color-blue: blue;

  --font-size-title: 1.2em;

  --button-radius: 2em;

  --shadow: 1px 1px 2px #cccccc;
}

/*STYLES*/

html {
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}

body {
  font-family: var(--main-font);
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 70%;
  height: auto;
  margin: 1em auto;
}

.hide {
  display: none;
}

/* Movie results styles*/
.movie {
    
}

.movie__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.movie__article {
}

.movie__error {
    display: flex;
    justify-content: center;
}

.movie__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    box-shadow: var(--shadow);
    background-color: white;
    height: 500px;
}

.movie__link:hover {
    transform: scale(1.1);
}

.movie__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    height: 67.5%;
}

.movie__image {
    display: block;
    transition: 500ms;
}

.movie__info {
    padding: 1em;
}

.movie__title {
    margin-bottom: 0.25em;
    font-size: 1em;
}

.movie__vote {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    max-width: 30%;
    padding: 0.2em 0.5em;
    background-color: var(--color-yellow);
}

.movie__vote > #vote_detail {
    width: 35px;
}

.movie__vote > .material-symbols-outlined {
    font-size: 1em;
    color: var(--color-black);
}

.movie__truncate {
    max-width: 250px;
    overflow: hidden;
}

.movie__description {
    margin-top: 0.25em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
}

@media screen and (max-width: 1200px) {
  .movie__grid {
      grid-template-columns: repeat(3, 1fr);
  }

  .genres__result {
      width: 100%;
      position: initial;
  }

  .movie__link {
      height: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .movie__grid {
      grid-template-columns: repeat(3, 1fr);
  }

  .movie__link {
      height: 500px;
  }

  .genre__button {
      width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .movie__grid {
      grid-template-columns: repeat(2, 1fr);
  }

  .movie__link {
      height: 400px;
  }

  .genre__button {
      width: 50%;
  }
}

.genres__title {
  text-align: center;
  margin-bottom: 2em;
}

/* Footer styles */

.footer {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: var(--color-black);
    color: var(--color-white);
}

/* Header styles */
.header {
  background-color: var(--color-yellow);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: var(--color-yellow);
  z-index: 100;
}

.nav__logo {
  width: 12.5%;
  margin-top: 0.2em;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  z-index: 1;
}

.nav__links > * {
  color: var(--main-white-color);
  text-decoration: none;
  letter-spacing: 0.12em;
  font-weight: bold;
}

.nav__links li {
  list-style: none;
}

.nav__hamburguer {
  color: var(--main-white-color);
  font-size: 1.5em;
  display: none;
  cursor: pointer;
}

.nav__hamburguer > .material-symbols-outlined{
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}

.nav__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__input {
  border-radius: 2em;
  padding: 1em 2em;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  box-shadow: var(--shadow);
}

.nav__button {
  background-color: var(--color-yellow);
  margin: 0.5em;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav__links {
      width: 40%;
  }

  .nav__logo {
      width: 30%;
  }

  .nav__search {
      position: absolute;
      left: 0;
  }

  .nav__input {
      margin-left: 2em;
  }
  
}

/* Movie card styles */
.card {
  transform: translateY(0px);
}

.card__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 1em;
  background-color: var(--color-white);
  margin: 2em 0;
  color: inherit;
  box-shadow: var(--shadow);
}

.card__imagediv {
  width: 30%;

}

.card__picture {

}

.card__image {
  border-radius: 1em 0 0 1em;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  width: 70%;
}

.card__title {
  
}

.card__basicinfo {

}

.card__year {
  font-weight: bold;
}

.card__genreitem {

}

.card__runtime {
  font-weight: bold;
}

.card__truncate {
  max-width: 80%;
}

.card__overview {

}

.card__wheretowatch {
  position: absolute;
  bottom: 1em;
}

@media screen and (max-width: 1024px) {
  .card__image {
      border-radius: 1em;
  }

  .card__div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      border-radius: 1em;
      background-color: var(--color-white);
      margin: 2em 0;
      color: inherit;
      box-shadow: var(--shadow);
  }
}

/* Movie trailer styles */
.trailer {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.trailer__video {
  aspect-ratio: 16/9;
  margin: 2em 0;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* Button styles */
.button {
  margin: 1.5em;
  background-color: var(--color-yellow);
  border: 1px solid black;
  border-radius: 2em 2em;
  padding: 1em 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-family: var(--main-font);
}

.button_div {
  display: flex;
  justify-content: center;
}

.button:hover {
  box-shadow: 2px 2px 5px var(--color-yellow-shadow);
}

.button:active {
  background-color: var(--color-yellow-2);
}

.genres__button {
  width: 20%;
}

@media screen and (max-width: 1024px) {
  .genres__button {
      width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .genres__button {
      width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .genres__button {
      width: 50%;
  }
}

/* Genres list styles */
.genres__title {
  text-align: center;
  margin-bottom: 2em;
}

.genres__container {
  
}

.genres__list {
  margin: 2em 0;
  text-align: center;
}

.genres__item {
  display: inline-block;
  list-style-type: none;
  border: 1px solid var(--color-black);
  border-radius: 1em;
  cursor: pointer;
  margin: 0.5em;
}

.genres__text {
  font-weight: 700;
  cursor: pointer;
  font-family: var(--main-font);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0.25em 0.75em;
}

.genres__item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#genres__item--active {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

@media screen and (max-width: 1024px) {
  .genres__list {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
  }
  .genres__list::-webkit-scrollbar {
      display: none;
  }
}

/* Hero styles */
.heroContainer {
  height: 80vh;
  position: relative;
}

.hero {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  position: absolute;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.hero__title {
  font-size: 3em;
  text-align: center;
}

.hero__description {
  font-size: 1em;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__button > .material-icons-outlined {
  font-size: 2em;
}

.hero__slidebutton {
  background: transparent;
  color: var(--color-yellow);
  border: none;
  outline: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.hero__slidebutton--right {
  right: 1rem;
}
.hero__slidebutton--left {
  left: 1rem;
}

.hero--active {
  opacity: 1;
  z-index: 1;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

.hero__slidebutton > .material-icons-outlined {
  font-size: 5em;
}

/* Movie slideshow styles */
.movieslideshow {
  position: relative;
}

.movieslideshow__grid {
  display: flex;
  overflow-x: auto;
}

.movieslideshow__grid::-webkit-scrollbar {
  display: none;
}

.movieslideshow__article {
  flex: 1 0 250px;
  box-shadow: var(--shadow);
  background: var(--color-white);
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  width: 25%;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.movieslideshow__header {
  position: relative;
  margin: 4em 2em 0 0;
  color: var(--color-black);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1em;
  white-space: nowrap;
}

.movieslideshow__bar {
  border-bottom: 1em solid var(--color-yellow);
  border-radius: 1em;
  margin: 0 auto;
  width: 100%;
}

.movieslideshow__slidebutton {
  background: transparent;
  color: var(--color-yellow);
  border: none;
  outline: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.movieslideshow__slidebutton--right {
  right: -5rem;
}

.movieslideshow__slidebutton--left {
  left: -5rem;
}

.movieslideshow__slidebutton > .material-icons-outlined {
  font-size: 3em;
}

@media screen and (max-width: 1024px) {
  .movieslideshow__grid {
      grid-template-columns: repeat(3, 1fr);
  }
  .movieslideshow__article {
      width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .movieslideshow__grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* 404 styles */
.notfound {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

@media screen and (max-width: 1024px) {
  .notfound {
      max-width: 90%;
  }
}

/* Random movie styles */
.random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
}

.random__button {
  
}

.random__video {
  
}

@media screen and (max-width: 480px) {
  .random__video {
      width: 100%;
  }
}

/* Watchlist styles */
.watchlist {
  text-align: center;
}

.watchlist__title {
  padding: 1em;
}

.watchlist__notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* Watchlist button styles*/
.watchlist__button {
  position: absolute;
  top: 2em;
  right: 2em;
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.watchlist__button > .material-icons-outlined {
  font-size: 2em;
}

/* Comments section styles*/
.reviews__truncate {
  max-width: 100%;
  font-size: 0.9em;
  overflow: hidden;
}

.reviews__content {
  margin-top: 0.25em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.reviews__noreviews {
  margin: 1em 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.reviews__article {
  max-width: 90vw;
  position: relative;
  margin: 1em 0;
  padding: 2em;
  border-radius: 0.5em;
  border: 1px solid var(--color-gray);
}

.reviews__icon {
  font-size: 1em;
}

.reviews__button {
  margin: 1em 0;
  background-color: var(--color-white);
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  position: relative;
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
}

.reviews__button:hover {
  color: var(--color-blue);
}

.reviews__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-blue);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
}

.reviews__button:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.reviews__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  width: 3em;
  padding: 0.2em 0;
  background-color: var(--color-yellow);
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em;
}

.reviews__author {
  font-weight: 700;
  font-size: 1.2em;
}

@media screen and (max-width: 1024px) {
  .reviews__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1em;
  }
}

.review {
  padding-bottom: 5em;
}

.review__form {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

#review__textarea, #review__user {
  font-family: var(--main-font);
  padding: 0.5em;
}

#review__textarea {
  width: 100%;
  height: 10em;
}

#review__user {
  height: 2em;
  padding-bottom: 1em;
}

.review__rating {
  display: inline;
  padding: 1em 0;
}

.review__rating > input[type=radio] {
  margin: 0 0.5em;
}

.review__submit {
  width: 20em;
}

.review__success {
  margin: 1em 0;
  font-size: 1.2em;
}